#map1 {
    position: absolute;
    margin-top: 30%;
}

#map2 {
    position: absolute;
    margin-top: 30%;
    margin-left: 5%;
}

#map3 {
    position: absolute;
    margin-top: 30%;
    margin-left: 10%;
}
